@font-face{
	font-family:OpenSans-Regular;
	src:url(../fonts/OpenSans-Regular.ttf)
}
@font-face{
	font-family:OpenSans-Bold;
	src:url(../fonts/OpenSans-Bold.ttf)
}
*{
	font-family:OpenSans-Regular;
}
body{
	position:relative;
	background-image: url(../images/mainBackGr.png);
}
header{
	padding-bottom: 60px
}
header>#lang-bar{
	height: 20px;
	background-color: #000;
}
header>.row>.container>.col-md-2>img{
	width: 80%;
}
header>.row>.container>.col-md-2:last-child>img{
	width: 45%;
	position: absolute;
	z-index:999;
	margin-left: 30px;
}
#menu .nav{
	position:relative;	
	font-family:OpenSans-bold;
	background-color:#fff;
}

#menu .nav li { 
	line-height:80px;
	list-style-type:none;
}
#menu .nav li a { 
	color:#000;
	font-size:1.10em
}
#menu .sub ul li{ 
	color:#000;
	background-color:#fff;
}
.menu-icon {
	display:none;
}

#menu ul.dropdown,
#menu ul.dropdown li,
#menu ul.dropdown ul { 
	margin: 0; 
	padding: 0; 	
}

#menu ul.dropdown li { 
	float: left; 
	vertical-align: left; 
}

#menu ul.dropdown li {  
	font-size:1.2em; 
}
#menu ul.dropdown a,
#menu ul.dropdown a:visited,	
#menu ul.dropdown a:hover, 		
#menu ul.dropdown a:active { 
	text-decoration: none;
}
#menu ul.dropdown li:hover{
	background-color:#fff;
	border-bottom: 3px solid #fe527a;
}
#menu ul.dropdown a:hover{
	color:#fe527a;
}

#menu ul.dropdown a, 
#menu ul.dropdown span { 
	display: block;
	outline:none; 
	cursor:pointer; 
	padding:13px 15px;
}

#menu ul.dropdown ul a,
#menu ul.dropdown ul span {  
	padding:12px 15px; 
	
}	

#menu ul.dropdown li:hover, 
#menu ul.dropdown li:hover { 
	position: relative; 
	cursor:pointer; 

}

/*menu cap 1*/
#menu ul.dropdown ul { 
	display:none; 
	position: absolute;
	z-index: 598;
	width: 180px; 
	top: 103%; 
	left: 0; 
}

 
#menu ul.dropdown li:hover > ul{ 
	display:block;
}

#menu ul.dropdown ul li { 
	float: none;
	font-size:13px;
	font-weight: normal; 
	text-transform:none;
	position:relative; 
}
#menu ul.dropdown ul li:hover, 
#menu ul.dropdown ul li:hover {
	background-color:#fff;
	color: #fff;
	border-bottom: 3px solid #fe527a;
}
#menu ul.dropdown ul li a:hover {
	color: #fe527a;
}
	
/*menu cap 2*/
#menu ul.dropdown ul ul {
	top:0;
	left:100%;
}
#menu ul.dropdown *.sub { 
	padding-right:15px; 
	/*background-image: url(../images/menu/nav-arrow-down-thin.gif); */
	background-position: 95% 50%; 
	background-repeat: no-repeat; 
}
#menu ul.dropdown ul *.sub { 
	padding-right: 15px; 
	/*background-image: url(../images/menu/nav-arrow-right-thin-dark.gif);*/
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

/*#menu ul.dropdown li.sub:hover{ 
	background-image: url(../images/menu/nav-arrow-down.gif);
} 
#menu ul.dropdown ul li.sub:hover{
	background-image: url(../images/menu/nav-arrow-right-dark.gif);
}*/


/* Responsiveness 
------------------------------------- */
/* All device screens < = 768px */
@media screen and (max-width: 768px) {

/* Responsive menu trigger 
------------------------------------ */
#menu .menu-icon, 
#menu .menu-icon span, 
#menu .menu-icon { 
	color: #fff; 
	width:100%; 
	height:50px; 
	line-height:40px; 
	padding:5px; 
	font-size:1.3em; 
	font-weight:bold; 
	cursor: pointer; 
	display:block;
	position:relative;	
}

#menu .menu-icon span{ 
	width: auto;
	padding:0 15px;
	padding-left:40px; 
	height:40px; 
	background:#2b3947 url(../images/menu/nav-toggle.png) center no-repeat ; 
	color:#FFFFFF;
	text-align: center;
	text-indent:-999em; 
	display: inline-block;
	position:absolute;
	top:5px;
	right:5px;
	 
}

/* Style these as desired 
 * - colors, bgclors etc 
------------------------------- */
#menu .menu-icon:hover { }
#menu .menu-icon:hover span{ }
#menu .menu-icon.active { }
#menu .menu-icon.active span{ }


/* Responsive menu styling  
--------------------------------- */
#menu .nav{
	position:relative;
}
#menu .nav,
#menu ul.dropdown, 
#menu .menu-icon, 
#menu .menu-icon span, 
#menu ul.dropdown *{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
} 	
#menu ul.dropdown{  display:none; position: relative; top:-1px; border-top:1px solid #3C536A ; }
#menu ul.dropdown  li { position:relative; float:none; display:block; border-bottom:1px solid #3C536A ; background-color:#c9c9c9;}
#menu ul.dropdown  li li{ border-top:0;}
#menu ul.dropdown  ul a{ padding-left:25px; }
#menu ul.dropdown  ul ul a{ padding-left:45px; }
#menu ul.dropdown  ul a:hover  { background-color:#34495E;}
#menu ul.dropdown *.sub { padding:0!important; background-image: none!important; }
#menu ul.dropdown ul{ overflow: hidden; max-height: 0; width:auto; display:block; position: static; }
#menu ul.dropdown ul.current { display:block; max-height:100em; }
#menu ul.dropdown li.sub > a{ padding-right:25px; }
#menu ul.dropdown li.sub > a.current{ background:#34495E;color:#fff  }
#menu ul.dropdown li.sub > ul a.current{ background:#34495E; color:#fff!important;  }
#menu ul.dropdown li.sub > a:after, 
#menu ul.dropdown li.sub > a.current:after { position: absolute; top: 0; right: 0; display: block; font-size: 1.5em; padding: 0.55em 0.5em; }
#menu ul.dropdown li.sub > a:after { content: '\002B'; }	
#menu ul.dropdown li.sub > a.current:after { content: "\2013"; top:-2px; }	
#menu ul.dropdown li.rtl ul, 
#menu ul.dropdown li.ltr ul, 
#menu ul.dropdown li.ltr ul ul, 
#menu ul.dropdown li.rtl ul ul { position:static; }
#menu ul.dropdown li.divider{ display:none!important; }
 
}
/* All device screens >  768px */
@media screen and (min-width: 768px) {
	/* Avoid responsive menu hiding on browser window resize 
	-------------------------------------------------------------- */
	#menu ul.dropdown{ display:block !important ; 
}

footer{
	background-color: #fff;
}
footer ul{
	overflow: hidden;
}
footer ul li{
	float: left;
	list-style-type: none;
	padding-top: 5px;
	padding-right: 10px;
}
footer ul li a:hover{
	text-decoration: none;
}