#menu ul.dropdown li:nth-child(3){
	border-bottom: 3px solid #fe527a;
}

#contents{
	background-color: #fff;
	margin-bottom: 40px;
}

.dropdown{
	padding: 30px;
	
}

.dropdown>.img-large{
	width: 100%;
}


/*.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:active .dropdown-content {
    display: inline-block;
}*/